body {
  /* Override from util.css to allow scrolling from iframes */
  overflow: visible;
}

.scrollable.header {
  /* Override from util.css to remove extra whitespace at top */
  top: 0;
}

.chart {
  height: 200px;
  background: #EEE;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}


/*
 * Usage Bar
 */

.usage-bar {
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.usage-bar:after {
  clear: both;
  content: '';
  display: table;
}

.usage-bar-icon,
.usage-bar-label-left {
  width: 42px;
  float: left;
  margin-right: 10px;
}

.usage-bar-label-left {
  height: 20px;

  /* Align with baseline of min/max labels */
  padding-top: 3px;
  box-sizing: content-box;
}

.usage-bar-icon {
  height: 42px;
  background-size: cover;
}

.usage-bar-right {
  float: left;
  width: calc(100% - 52px);
}

.usage-bar-label {
  margin-top: 6px;
}

progress.usage-bar-progress {
  height: 20px;
  background: #EEE;
}
progress.usage-bar-progress::-moz-progress-bar {
  height: 20px;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.usage-bar-progress-container {
  position: relative;
}

.usage-bar-min,
.usage-bar-max {
  position: absolute;
  color: #333;
  top: 0.3rem;
}

.usage-bar-min {
  left: 0.5rem;
}
.usage-bar-max {
  right: 0.5rem;
}


/*
 * Application Icons
 */

.browser-icon {
  background-image: url(browser_84.png);
}

.music-icon {
  background-image: url(music_84.png);
}

.email-icon {
  background-image: url(email_84.png);
}
